.valid{
    border: 2px solid rgb(35, 201, 35);
}

.invalid-feedback {
  color: red;
  font-size: 0.9em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 2px solid #007afcc2 !important;
}
