<main>
    <section class="container-sm"> 
        <div *ngIf="getCarrinho().length === 0" class="alert alert-success mt-3" role="alert">
            carrinho vazio
        </div>

        <div class="row align-items-start border mt-3 p-3" *ngFor="let produto of getCarrinho()">       
            <div class="col">
                <img src="{{ produto.image }}" alt="" class="img-fluid" style="max-width: 100px; max-height: 100px;">
            </div>
            <div class="col">
                <p>{{ produto.title }}</p>
            </div>
            <div class="col">
                <p>{{ produto.price | currency: 'BRL': 'symbol': '1.2-2' }}</p>
            </div>
            <div class="col">
                <input type="number" name="qtd" id="quantidade" class="form-control" min="1" max="10" value="1">
            </div>
            <div class="col text-danger text-end">
                <i class="fa-solid fa-xmark" (click)="removerPorId(produto.id)"></i>
            </div>
        </div>
        <div class="alert alert-success mt-3" role="alert"><strong>Total:</strong> {{ total | currency:'BRL':'symbol':'1.2-2' }}</div>
        <button class="btn btn-secondary mt-3" (click)="limparCarrinho()">Limpar</button>
    </section>
</main>